
</div>
<div class="footer-padding"></div>
  <div class="footer">
    <p>Copyright 2022 ©</p>
  </div>
</div>
<script>
  ScrollReveal().reveal(".reveal", { 
                                    distance: "100px",
                                    duration : 300,
                                    easing: "cubic-bezier(0.215, 0.610, 0.355, 1)",
                                    interval : 200
                                  });
  ScrollReveal().reveal(".zoom", { 
                                    duration : 600,
                                    easing: "cubic-bezier(0.215, 0.610, 0.355, 1)",
                                    interval : 300,
                                    scale : 0.65
                                  });
</script>
</body>
</html>
